:root {
    --vandyke: #483d3f;
    --blue: #058ed9;
    --offwhite: #fef8ec;
    --eggshell: #f4ebd9;
    --eggshell-friendly-text: #533f18;
    --grey: #a39a92;
    --umber: #77685d;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color-scheme: light;
    /* color: rgba(255, 255, 255, 0.87); */
    color: var(--eggshell-friendly-text);
    /* background-color: #242424; */
    background-color: var(--eggshell);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    /* color: #646cff; */
    color: var(--blue);
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    color: rgba(255, 255, 255, 0.87);
    /* background-color: var(--vandyke); */
    background-color: var(--umber);
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
    margin: 0 1em 0 1em;
}
button:hover {
    /* border-color: #646cff; */
    /* border-color: var(--blue); */
    border-color: var(--blue);
    background-color: var(--vandyke);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input {
    background-color: var(--offwhite);
    color: var(--eggshell-friendly-text);
    border: 1px solid var(--eggshell-friendly-text);
    border-radius: 4px;
}

input::placeholder {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid ;
    border-radius: 12px;
}

select {
    background-color: #ffecc6;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    appearance: none;
    border: 1px solid var(--eggshell-friendly-text);
    border-radius: 4px;
    padding: 0.6em 1.2em;
    margin: 0 0.6em 0 0.6em;
}

select::-ms-expand {
    background-color: var(--blue);
    display: none;
}

option:active {
    background-color: var(--blue);
}

.todoTextBox {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 1em;
    margin-bottom: 1em;
}

.todoTextBox:focus {
    /* outline: var(--grey); */
    outline: 2px solid var(--umber);
}

.todoTable {
    margin: 1em 0 1em 0;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        /* background-color: #f9f9f9; */
        background-color: var(--eggshell);
    }
}
